@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
    section {
        margin: 0 5%;
    }
    .arrow {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .about-containers {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    .title {
        font-size: 2.5rem;
    }
    .category-title {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 600px) {
    #contact, footer {
        height: auto;
    }
    .mobile-spacing {
        padding-top: 15vh;
    }
    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }
    .contact-info-upper-container {
        flex-wrap: wrap;
    }
    .contact-info-container p, .nav-links li a {
        font-size: 1rem;
    }
    .experience-sub-title {
        font-size: 1.25rem;
    }
    .logo {
        font-size: 1.5rem;
    }
    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .title {
        font-size: 2rem;
    }
    .category-title {
        text-align: center;
    }
    #contact-form {
        padding: 1.5rem;
    }
}